.button {
    -fx-font-weight: bold;
}

#top_region {
    
    
    //-fx-background-repeat: no-repeat;
}

#sgs{
    -fx-font-weight: bold;
}

#main{
    -fx-background-image: url("../img/ecole1.jpg");
    -fx-background-repeat: no-repeat;
}